<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div>
        <h2>Book</h2>
        <a class="link-button align-right" th:href="@{/books}">Back to books list</a>
        <div class="table">
            <div class="row">
                <div class="column header">Book's id:</div>
                <div class="column" th:text="${bookForm.id}"></div>
            </div>
            <div class="row">
                <div class="column header">Title:</div>
                <div class="column" th:text="${bookForm.title}"></div>
            </div>
            <div class="row">
                <div class="column header">Authors:</div>
                <div class="column" th:text="${bookForm.authors}"></div>
            </div>
            <div class="row">
                <div class="column header">Genre:</div>
                <div class="column" th:text="${bookForm.genre}"></div>
            </div>
        </div>
        <div class="table">
            <form th:action="@{/books/{id}/delete (id=${bookForm.id})}" th:method="post">
                <button class="button button-delete align-right" type="submit">Delete book</button>
            </form>
            <a class="link-button align-right" th:href="@{/books/{id}/edit(id=${bookForm.id})}">Edit book</a>
        </div>
        <div>
            <div class="comments-header">Comments:</div>
            <div class="comments">
                <div th:each="comment, state : ${comments}" th:text="${state.count +' '+ comment?.comment}"></div>
            </div>
            <form th:object="${commentForm}" th:action="@{/comments/{bookId}/new (bookId=${bookForm.id})}" th:method="post">
                <label for="comment-input">New comment:</label>
                <input id="comment-input" th:field="${commentForm.newComment}"/>
                <button class="button" type="submit">Add comment</button>
            </form>

        </div>
    </div>
</body>
</html>