<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div>
        <h2 th:text="${create} ? 'Add Book' : 'Edit Book'"></h2>
        <a class="link-button align-right" th:href="@{/books}">Back to books list</a>
        <form id="book" th:object="${bookForm}" th:action="${create} ? @{/books/new} : @{/books/{id}/edit (id=${bookForm.id})}" method="post">
            <div class="table">
                <div th:unless="${create}" class="row">
                    <label for="id-input" class="column header">Book's id:</label>
                    <p id="id-input" class="column" th:text="${bookForm.id}"></p>
                </div>
                <div class="row">
                    <label for="title-input" class="column header">Title:</label>
                    <input id="title-input" class="column" th:field="${bookForm.title}"/>
                </div>
                <div class="row">
                    <label for="authors-input" class="column header">Authors:</label>
                    <input id="authors-input" class="column" th:field="${bookForm.authors}"/>
                </div>
                <div class="row">
                    <label for="genre-input" class="column header">Genre:</label>
                    <input id="genre-input" class="column" th:field="${bookForm.genre}"/>
                </div>
            </div>
            <div>
                <button class="button" type="submit">Save book</button>
            </div>
        </form>
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></div>
    </div>
</body>
</html>