<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Title</title>
</head>
<body>
    <div>
        <h2>Error</h2>
        <p th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></p>
        <a class="link-button align-right" th:href="@{/books}">Back to books list</a>
    </div>
</body>
</html>