<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>List of books</title>
</head>
<body>
    <div>
        <h2>List of books</h2>
        <table id="books">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book, state : ${books}">
                    <td th:text="${state.count}"></td>
                    <td><a th:href="@{/books/{bookId} (bookId=${book.id})}" href="index.html" th:text="${book.title}"></a></td>
                    <td th:text="${book.genre.name}"></td>
                </tr>
            </tbody>
        </table>
        <a class="link-button" th:href="@{/books/new}">Add Book</a>
    </div>
</body>
</html>