body {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    max-width: max-content;
    margin: auto;
}
#books {
    border-collapse: collapse;
}
#books td, #books th {
    border: 1px solid black;
    padding: 8px;
}
#books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
input {
    width: 500px;
    font-size: 1em;
}
.table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.column {
    display: table-cell;
    padding: 10px;
}
.header {
    font-weight: bold;
}
.comments {
    padding: 0 10px 0 10px;
}
.comments-header {
    padding: 10px;
    font-weight: bold;
}
.align-right{
    float: right;
}
.link-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
}
.button {
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    border-width: 0;
}
.button-delete {
    background-color: indianred;
}
.error {
    color: red;
}